@charset "utf-8";
/* CSS Document */

#ratten {
	width: 728px;
	height: 70px;
	margin: 20px auto;
	box-shadow: rgba(0,0,0,.3) 0 1px 4px;
}
.ratten {
	position: relative;
	overflow: hidden;
}
.ratten ul {
	position: absolute;
}
.ratten li {
	width: 448px;
	height: 70px;
	position: absolute;
	background: #F8F8F8;
	box-shadow: rgba(0,0,0,.3) 1px 0 3px;
	overflow: hidden;
	text-align: right;
}

.ratten-next {
	position: absolute;
	z-index: 10000;
	left: 0;
	bottom: 0;
}
.ratten-prev {
	position: absolute;
	z-index: 10000;
	right: 0;
	bottom: 0;
}

@media only screen and (max-width: 767px) {
	
#ratten {
	max-width: 100%;
}

	
}
